@import "tailwindcss";

body {
  margin: 0;
}


@keyframes petalFall {
  0% {
    transform: translate3d(0, -10vh, 0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 0.9;
  }

  50% {
    transform: translate3d(30px, 50vh, 0) rotate(180deg);
  }

  100% {
    transform: translate3d(-30px, 110vh, 0) rotate(360deg);
    opacity: 0;
  }
}

.petal {
  position: absolute;
  top: -10vh;
  animation-name: petalFall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform;
}